@model Guid
@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"

<div id="modal-delete-warden" class="modal">
    <form asp-controller="Organization" asp-action="DeleteWarden" asp-routeid="@Model" asp-anti-forgery="true" method="POST">
        <input type="hidden" name="wardenId" id="warden-id-to-delete" value="" />
        <div class="modal-content">
            <strong>Delete confirmation</strong>
            <p>Are you sure that you want to remove the selected Warden from the organization?</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close btn waves-effect waves-green custom left">No</a>
            <button class="modal-action modal-close btn waves-effect waves-light custom" type="submit" name="action">Yes</button>
        </div>
    </form>
</div>