@model Warden.Web.ViewModels.AddUserToOrganizationViewModel
@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"

<div class="row">
    <div class="col s12 m8 l6 offset-m2 offset-l3">
        <div class="row card-panel">
            <h5 class="center-align custom-text">Add user to organization</h5>
            <form asp-controller="Organization" asp-action="AddUser" asp-anti-forgery="true" method="POST" data-block>
                <div class="row">
                    <div class="input-field col s12">
                        <input type="email" class="validate" asp-for="Email" />
                        <label asp-for="Email">Email</label>
                        <span asp-validation-for="Email"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <button class="btn waves-effect waves-light custom right" type="submit">Add user</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
