@model Warden.Web.Core.Domain.PagedResult<Warden.Web.Core.Dto.OrganizationDto>

<div class="row card-panel">
    <div class="s12">
        <h4 class="custom-text">Organizations (@Model.Items.Count())</h4>
    </div>
    <div class="s12">
        <div class="collection">
            @foreach (var organization in Model.Items)
            {
                <a href="@Url.Action("Details", new {id = @organization.Id})" class="collection-item">@organization.Name</a>
            }
        </div>
    </div>
</div>