<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <nlog autoReload="true" throwExceptions="true">
    <targets async="true">
      <target name="asyncFile" type="AsyncWrapper">
        <target type="File" name="file" fileName="${basedir}/Logs/${shortdate}.log" layout="${longdate} ${uppercase:${level}} ${logger} ${message}" />
      </target>
      <target name="asyncConsole" type="AsyncWrapper">
        <target type="Console" name="console" layout="${longdate} ${message}" />
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="file" />
      <logger name="*" minlevel="Info" writeTo="console" />
    </rules>
  </nlog>
</configuration>