body {
  background-color: #FAFAFF; }

nav {
  color: #7272D8;
  background-color: #7272D8; }

.nav-wrapper > ul > li {
  color: #7272D8;
  background-color: #7272D8; }

.custom {
  background-color: #7272D8; }

.custom-text {
  color: #7272D8; }

.collection .collection-item.active {
  background-color: #ffffff;
  color: #000000; }
