$primary-color: #7272D8;
$background-color: #FAFAFF;
$error-color: #BF3131;

body {
    background-color: $background-color;
}

nav {
    color: $primary-color;
    background-color: $primary-color;
}

.nav-wrapper > ul > li {
    color: $primary-color;
    background-color: $primary-color;
}

.custom {
    background-color: $primary-color;
}

.custom-text {
    color: $primary-color;
}

.collection .collection-item.active {
    background-color: #ffffff;
    color: #000000;
}

.field-validation-error{
    color: $error-color;
}