<div class="row card-panel">
    <div class="s12 custom-text">
        <h4>Dashboard is unavailable.</h4>
        <h5>
            No Warden iterations data have been found for the recently viewed organization.
        </h5>
    </div>
</div>