<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
  <targets>
    <target type="File" name="file" fileName="C:\Warden\Logs\${shortdate}.log" layout="${longdate} ${uppercase:${level}} ${logger} ${message} ${exception}" />
    <target type="Null" name="blackhole" />
  </targets>
  <rules>
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="*" minlevel="Debug" writeTo="file" />
  </rules>
</nlog>