@model Warden.Web.ViewModels.LoginViewModel
@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"

<div class="row">
    <div class="col s12 m8 l6 offset-m2 offset-l3">
        <div class="row card-panel">
            <h5 class="center-align custom-text">Sign in</h5>
            <form asp-controller="Account" asp-action="Login" asp-anti-forgery="true" method="POST" data-block>
                <div class="row">
                    <div class="input-field col s12">
                        <input type="email" class="validate" asp-for="Email"/>
                        <label asp-for="Email">Email</label>
                        <span asp-validation-for="Email"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input type="password" class="validate" asp-for="Password"/>
                        <label asp-for="Password">Password</label>
                        <span asp-validation-for="Password"></span>
                    </div>
                    <div class="col s12">
                        <p>
                            <input type="checkbox" id="RememberMe" data-checked="false">
                            <label for="RememberMe">Remember me</label>
                        </p>
                    </div>
                    <div class="divider"></div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <button class="btn waves-effect waves-light custom right" type="submit">Login</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <a href="@Url.Action("Initiate", "ResetPassword")" class="btn waves-effect waves-light custom right">Reset password</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
