@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"

<div id="modal-delete" class="modal">
    <form asp-controller="Settings" asp-action="DeleteApiKey" asp-anti-forgery="true" method="POST">
        <input type="hidden" name="key" id="api-key-to-delete" value=""/>
        <div class="modal-content">
            <strong>Delete confirmation</strong>
            <p>Are you sure that you want to remove the selected API key?</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close btn waves-effect waves-green custom left">No</a>
            <button class="modal-action modal-close btn waves-effect waves-light custom" type="submit" name="action">Yes</button>
        </div>
    </form>
</div>